.width-100 {
  width: 100%;
}
.border-bottom-grey {
  border-bottom: 1px solid lightgrey;
}
.width-100 {
  width: 100%;
}
.border-bottom-grey {
  border-bottom: 1px solid lightgrey;
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizYRExUiTo99u79D0e0x8mN.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizdRExUiTo99u79D0e8fOydLxUY.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v10/jizfRExUiTo99u79B_mh0O6tKA.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  background-color: #f1f1f1;
  color: #333;
  font-family: 'PT Sans', sans-serif;
}
.container {
  max-width: 95%;
  width: 800px;
}
@media (max-width: 800px) {
  .container {
    width: 90%;
    margin: 0 5%;
  }
}
@media (max-width: 500px) {
  .container {
    width: 90%;
    margin: 0 5%;
  }
}
.top-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-column h1 {
  font-size: 4rem;
  text-align: center;
}
.top-column p {
  font-size: 2rem;
  text-align: center;
}
.logo-img {
  width: 30%;
  height: auto;
}
@media (max-width: 800px) {
  .logo-img {
    width: 40%;
  }
}
@media (max-width: 500px) {
  .logo-img {
    width: 50%;
  }
}
.login-button {
  width: 20%;
  height: 40px;
  padding: 10px 0px;
  background-color: orangered;
  color: white;
  border-radius: 10px;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
}
@media (max-width: 800px) {
  .login-button {
    width: 35%;
  }
}
@media (max-width: 500px) {
  .login-button {
    width: 40%;
  }
}
.central-column {
  padding-top: 50px;
}
.central-column h2 {
  font-size: 2rem;
}
.central-column p {
  font-size: 1.5rem;
}
.central-column-nav {
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: darkgrey;
}
@media (max-width: 500px) {
  .central-column-nav {
    display: flex;
    flex-direction: column;
    height: 120px;
  }
}
.central-column-nav .nav-button {
  width: 20%;
  height: 40px;
  background-color: white;
  color: #333;
  border-radius: 10px;
  border: none;
  text-align: center;
  text-decoration: none;
  padding: 10px 0px;
  font-size: 2rem;
}
@media (max-width: 800px) {
  .central-column-nav .nav-button {
    width: 30%;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .central-column-nav .nav-button {
    width: 40%;
    display: flex;
    flex-direction: column;
  }
}
.feature-section {
  padding-top: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.feature-section-odd {
  flex-direction: row;
}
.feature-picture {
  width: 20%;
  height: 20%;
}
@media (max-width: 800px) {
  .feature-picture {
    width: 30%;
    height: 30%;
  }
}
@media (max-width: 500px) {
  .feature-picture {
    display: none;
  }
}
.feature-text {
  width: 48%;
}
@media (max-width: 500px) {
  .feature-text {
    width: 100%;
  }
}
footer {
  padding: 10px 10px;
  background-color: white;
  border-radius: 10px;
}
.team-section {
  padding: 40px 0px;
  display: flex;
  justify-content: center;
}
@media (max-width: 800px) {
  .team-section {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
.team-bios {
  display: flex;
  justify-content: center;
  text-align: center;
}
.team-member-bio {
  align-items: center;
}
.team-member-bio h3 {
  font-size: 2rem;
}
.headshot {
  width: 100%;
  text-align: center;
}
@media (max-width: 800px) {
  .headshot {
    width: 50%;
  }
}
.active-bio {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.inactive-bio {
  display: none;
}
.team-member-buttons {
  padding-left: 40px;
  width: 40%;
}
@media (max-width: 800px) {
  .team-member-buttons {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.team-member-button {
  width: 80%;
  height: 40px;
  padding: 10px 0px;
  margin: 10px 0px;
  border-radius: 10px;
  border: 1px solid orangered;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 800px) {
  .team-member-button {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .team-member-button {
    width: 60%;
  }
}
.active-button {
  background-color: orangered;
  color: white;
  border: none;
}
.inactive-button {
  background-color: white;
  color: orangered;
  border: 1px solid orangered;
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizYRExUiTo99u79D0e0x8mN.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizdRExUiTo99u79D0e8fOydLxUY.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v10/jizfRExUiTo99u79B_mh0O6tKA.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  background-color: #f1f1f1;
  color: #333;
  font-family: 'PT Sans', sans-serif;
}
